@page "/item/{Id:int}"

@if(Item != null)
{
    <div class="border-indigo-600 border-b-2 pb-4">
        <StoryTitle Story="@Item"/>
        @if(!String.IsNullOrWhiteSpace(Item.Content))
        {
            <div class="max-w-prose">
                @((MarkupString)Item.Content)
            </div>
        }
        <!-- Empty list for non-polls -->
        @if(PollOptions != null)
        {
            <ul>
            @foreach(IPollOption option in PollOptions)
            {
                <li>
                    @((MarkupString)option.Content)
                    @option.Points points
                </li>
            }
            </ul>
        }
        
    </div>
    <div class="mt-8">
        @foreach(IComment kid in Item.Comments)
        {
            <Comment Item="@kid" />
        }
    </div>
}
