@page "/item/{Id:int}"

@if(Item == null)
{
    <!-- This div centers the elements -->
    <div class="flex h-full justify-center items-center">
        <!-- This div is a container for the animation -->
        <div class="flex items-center loading-bars h-16 md:h-24 lg:h-28 space-x-3 md:space-x-4 lg:space-x-5">
            <div class="w-6 md:w-8 bg-teal-900 rounded-sm"></div>
            <div class="w-6 md:w-8 bg-teal-900 rounded-sm"></div>
            <div class="w-6 md:w-8 bg-teal-900 rounded-sm"></div>
        </div>
    </div>
}
else
{
    <div class="bg-white general-padding py-4 main-width rounded-b shadow mb-3 sm:mb-4 md:mb-6">
        <StoryHeader Story="@Item" IsMainHeader="true"/>
        @if(!String.IsNullOrWhiteSpace(Item.Content))
        {
            <div class="max-w-prose comment">
                @((MarkupString)Item.Content)
            </div>
        }
        <!-- Empty list for non-polls -->
        @if(PollOptions != null)
        {
            <ul class="mt-3 lg:mt-4">
            @foreach(IPollOption option in PollOptions)
            {
                <li class="mt-2 flex justify-between">
                    <div class="font-medium text-gray-600">
                        @((MarkupString)option.Content)
                    </div>
                    <div class="metadata">
                        @option.Points votes
                    </div>
                </li>
                <div class="h-1 bg-teal-600 rounded"
                        style="width: @((float)option.Points! / (float)maxPollScore * 100)%">
                </div>
            }
            </ul>
        }
    </div>
    <div class="bg-white general-padding main-width py-4 shadow rounded-t">
        @foreach(IComment kid in Item.Comments)
        {
            <Comment Item="@kid" />
        }
    </div>
}
